<main class="form-signin">
  <h1 class="h3 mb-3 fw-normal text-center">Выберите пункт меню</h1>
  <div class="btn-group-vertical">
      <a routerLink="/Employee/showYourMotivation" class="btn btn-lg btn-primary mb-1" role="button">Твои бонусы</a>
      <a routerLink="/Employee/allMotivations" class=" btn btn-lg btn-primary mb-1" role="button">Все бонусы</a>
      <a routerLink="/Employee/yourWorkStatistics" class=" btn btn-lg btn-primary mb-1" role="button">Статистика твоей работы</a>
      <a routerLink="/Employee/careerLadder" class=" btn btn-lg btn-primary mb-1" role="button">Карьерная лестница</a>
      <a routerLink="/Employee/punishment" class=" btn btn-lg btn-primary mb-1" role="button">Посмотреть возможные наказания</a>
      <a routerLink="/Employee/finMot" class=" btn btn-lg btn-primary mb-1" role="button">Посмотреть типы не финансовых мотиваций</a>
      <a routerLink="/Employee/nonFinMot" class=" btn btn-lg btn-primary" role="button">Посмотреть типы финансовых мотиваций</a>
  </div>
</main>